<div class="seller-auth">
  <div class="sign-up">
    <h1>Registrazione seller</h1>
    <form #sellerSignUp="ngForm" (ngSubmit)="signup(sellerSignUp.value)" class="common-form">
      <input class="form-input" type="text" ngModel name="nome" placeholder="Nome">
      <input class="form-input" type="text" ngModel name="cognome" placeholder="Cognome">
      <input class="form-input" type="email" ngModel name="email" placeholder="Email">
      <input class="form-input" type="password" ngModel name="password" placeholder="Password">
      <input class="form-input" type="text" ngModel name="cellulare" placeholder="Numero di telefono">
      <button class="form-button">Registrati</button>
    </form>
  </div>

</div>
